<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com">
<head>
    <meta charset="UTF-8">
    <title>find</title>
</head>
<body>
<div style="width:500px;margin:20px auto;text-align: center">
    <table align='center' border='1' cellspacing='0'>
        <tr>
            <td>id</td>
            <td>name</td>
            <td>编辑</td>
            <td>删除</td>
        </tr>
        <tr th:each="u:${page.content}">
            <td th:text="${u.getId()}"></td>
            <td th:text="${u.getName()}"></td>
            <td><a th:href="@{/editUser(id=${u.getId()})}">编辑</td>
            <td><a th:href="@{/deleteUser(id=${u.getId()})}">删除</td>
        </tr>

    </table>
    <br>
    <div>
        <a th:href="@{/findUser(start=0,name=${name})}">[首  页]</a>
        <a th:href="@{/findUser(start=${page.getNumber()-1},name=${name})}">[上一页]</a>
        <a th:href="@{/findUser(start=${page.getNumber()+1},name=${name})}">[下一页]</a>
        <a th:href="@{/findUser(start=${page.getTotalPages()},name=${name})}">[末  页]</a>
    </div>
    <br>
</div>
</body>
</html>